 .container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    gap: 30px;
    text-align: center;
}

.container img {
    border-radius: 8px;
    max-width: 450px;
    height: auto;
    margin: 0 auto;
}
 
p {
    color: black;
}


h2 {
    color: #ff69b4;
}