
.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    
}

.produto {
    border: 1PX solid #5c5858;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: 90PX min-content auto min-content;
}

.produto img {
    width: 100%;
   height: 125%;
    border-radius: 8px;

}

.produto h3 {
    font-size: 1.5em;
    margin: 15px 0;
}

.produto p.descri {
    font-size: 1em;
    margin-bottom: 15px;
}

 .produto span
    {
     font-size: 1.2em;
    color: #27ae60;
    font-weight: bold;}

    

